<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<h2>Here are some Movies </h2>
<div class="container">
  <div class="form-row" *ngFor="let movie of mov;let i =index">
    <span>{{movie.name}}</span>
    <input class="form-control-sm ml-1" #rating value="{{movie.rating}}">
    <button type="button" class="ml-1 btn btn-outline-primary btn-sm"
      (click)="updateRating(movie.name,rating.value,i)">update</button>

  </div>
</div>