<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<h2>Here are some Movies </h2>

<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="randomRating()">
    <div *ngFor="let movie of mov;let i =index">
      <app-movie [movie]="movie" [index]="i" [updatedList]="updatedList" [form]="userForm"></app-movie>
    </div>

    <button type="submit" class=" btn btn-outline-primary btn-sm">Random Rating</button>
    <button type="button" (click)="reset()" class="ml-1 btn btn-outline-primary btn-sm">Reset</button>

  </form>
</div>